:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

// .App {
//   padding-top: 10px;
//   font-family: var(--app-font);
//   text-align: center;
//   background-image: url("/images/happynewyear.jpg");
//   background-position: center;
//   /* Center the image */
//   background-repeat: no-repeat;
//   /* Do not repeat the image */
//   background-size: cover;
//   /* Resize the background image to cover the entire container */
//   user-select: none;
//   height: 100vh;
//   width: 100vw;
// }

.App {
  // background-image: linear-gradient(#337ab7, white, yellow);
  background-image: linear-gradient(#EFF9F9,#BFE4E7);

  width: 100vw;
  height: 100vh;
  // text-align: center;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.wheel-shelf-footer {
  top: 84%;
  left: 42.5%;
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 50px;
  border-bottom: 100px solid aqua;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.wheel-shelf-midle {
  top: 26%;
  left: 27.6%;
  z-index: 1;
  position: absolute;
  width: 600px;
  height: 600px;
  border: 20px solid aqua;
  border-radius: 50%;

  // margin: 0 auto;
  // background: conic-gradient(lightgrey 0deg 30deg,
  //     red 30deg 60deg,
  //     lightgrey 60deg 120deg,
  //     yellow 12deg 150deg,
  //     lightgrey 150deg 210deg,
  //     green 210deg 240deg,
  //     lightgrey 240deg 300deg,
  //     blue 300deg 330deg,
  //     lightgrey 330deg 360deg);
  // -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
  // mask-image: radial-gradient(transparent 65%, black 65%);
  // border-radius: 50%;
}

.wheel-shelf-head {
  top: 22%;
  left: 46.5%;
  z-index: 1;
  position: absolute;
  width: 100px;
  height: 20px;
  border-top: 50px solid aqua;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

// ----------------------------------- 1/1/2022

.wheel__value{
  width: 160px;
  height: 30px;
  left: 0px;
  top: 14px;
  margin-right: 10px;
  background: rgba(171, 166, 161, 0.5);
  border-radius: 12px;
  // font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.wheel__value::before{
content: '';
position: absolute;
background-image: url(/images/wheel/icon_wheel_value.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 26px;
height: 27px;
display: block;
}

.wheel__numbertimes{
  display: inline-block;
  width: 125px;
  height: 30px;
  left: 0px;
  top: 14px;
  background: rgba(171, 166, 161, 0.5);
  border-radius: 12px;
  // font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.wheel__numbertimes::before{
  content: '';
  position: absolute;
  background-image: url(/images/wheel/icon_wheel_numTimes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  height: 27px;
  display: block;
  margin-left: -5px;
}
.content_wheel__btn{
  padding: 2px;
  margin: 3px;
  border-radius: 9px;
  transition: transform .2s;
  cursor: pointer;

}
.content_wheel__btn > button {
  padding: 0; 
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.wheel__btn{
  border: none;
  border-radius: 11px
}

.content_wheel__btn:hover{
  transform: scale(1.1);
}

.icon_LeftCircleTwoTone_custom{
  width: 37px;
  height: 37px;
  color: #FFFFFF;
  background: #FBD455;
  border-radius: 50%;
  margin-left: 10px;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_LeftCircleTwoTone_custom > img{
  margin-left: -4px;
}
.icon_LeftCircleTwoTone_custom:hover{
  transform: scale(1.1);
}



// responsive
