:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

// .App {
//   padding-top: 10px;
//   font-family: var(--app-font);
//   text-align: center;
//   background-image: url("/images/happynewyear.jpg");
//   background-position: center;
//   /* Center the image */
//   background-repeat: no-repeat;
//   /* Do not repeat the image */
//   background-size: cover;
//   /* Resize the background image to cover the entire container */
//   user-select: none;
//   height: 100vh;
//   width: 100vw;
// }

.App {
  background-image: linear-gradient(#337ab7, white, yellow);
  width: 100vw;
  height: 100vh;
  // text-align: center;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.wheel-shelf-footer {
  top: 84%;
  left: 42.5%;
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 50px;
  border-bottom: 100px solid aqua;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.wheel-shelf-midle {
  top: 26%;
  left: 27.6%;
  z-index: 1;
  position: absolute;
  width: 600px;
  height: 600px;
  border: 20px solid aqua;
  border-radius: 50%;

  // margin: 0 auto;
  // background: conic-gradient(lightgrey 0deg 30deg,
  //     red 30deg 60deg,
  //     lightgrey 60deg 120deg,
  //     yellow 12deg 150deg,
  //     lightgrey 150deg 210deg,
  //     green 210deg 240deg,
  //     lightgrey 240deg 300deg,
  //     blue 300deg 330deg,
  //     lightgrey 330deg 360deg);
  // -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
  // mask-image: radial-gradient(transparent 65%, black 65%);
  // border-radius: 50%;
}

.wheel-shelf-head {
  top: 22%;
  left: 46.5%;
  z-index: 1;
  position: absolute;
  width: 100px;
  height: 20px;
  border-top: 50px solid aqua;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}